<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS</title>
</head>
<body>
  <h1>Student Report Card</h1>

  <%- include('header')%>

    <p>Name: <%= student.names %></p>
  <p>Grade: <%= student.grade %></p>
  <p>Favourite Subject: <%= student.favSub %></p>
  
</body>
</html>





